# local package
-e .

# external requirements
click
Sphinx
# coverage
flake8
# python==3.11 # in conda, not pip
python-dotenv>=0.5.1
pandas
numpy
scipy
seaborn
scikit-learn==1.3.0
matplotlib
missingno 
imblearn
evidently
shap
